<h2>Contact</h2>
<dl>
    <dt>Email</dt>
    <dd>{{ site.hidden.email }}</dd>

    <dt>Adresse</dt>
    <dd>{{ site.hidden.address }}</dd>

    <dt>Tél</dt>
    <dd>{{ site.hidden.phone }}</dd>
</dl>
<ul>
    <li>32 ans (25/04/1983)</li>
    <li>Permis de conduire</li>
    <li>Marié, 2 enfants</li>
</ul>