<section class="row">

    <h2 class="page-header">Formation</h2>

    <table class="table table-condensed">
        {% for degree in site.degrees %}
            <tr>
                <th>
                    {{ degree.year }}
                </th>
                <td class="small-caps">
                    {{ degree.university }}
                </td>
                <td>
                    {{ degree.name }}
                    {% if degree.special %}
                    (<i>{{ degree.special }}</i>)
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

</section>