<h2>Formation</h2>

{% for degree in site.degrees %}
    <dl class="row dl-horizontal">
        <dt>{{ degree.year }}</dt>
        <dd>
            {{ degree.university }}.
            {{ degree.name }}.
            {% if degree.special %}
                ({{ degree.special }})
            {% endif %}
        </dd>
    </dl>
{% endfor %}