<section class="row">
    <h2 class="page-header">Centres d'intérêts</h2>
    {% for title, list in site.hobbies %}
    <div class="col-xs-6">
        <h4>{{ title }}</h4>
        <ul>
            {% for description in list %}
                <li>{{ description }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
