<section class="row">
    <h2 class="page-header">Anglais</h2>
        <ul>
            <li>
                Lecture et rédaction de documents techniques, scientifiques.
            </li>
            <li>
                Participation en tant qu'exposant à des salons internationaux
                (IDS 2011, Dental Forum 2012, EuroMold 2012).
            </li>
            <li>
                Déplacements professionnels à Séoul pour les besoins d'un client Coréen.
            </li>
            <li>
                Support client, collaborations diverses...
            </li>
        </ul>
</section>