<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <style>
        .small-caps {
            font-variant: small-caps;
        }
        .link-image {
            height: 120px
        }
        .skills-list {
            line-height: 2;
        }
    </style>

</head>
<body>

{% block content %}Error{% endblock %}

</body>
</html>

