<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <style>
        .small-caps {
            font-variant: small-caps;
        }
        .link-image {
            height: 120px
        }
        .skills-list {
            line-height: 2;
        }
        .spacer-big {
            padding-top: 100px;
        }
        .spacer-small {
            padding-top: 50px;
        }
    </style>

</head>
<body>

{% block content %}Error{% endblock %}

</body>
</html>

