<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

{% block content %}Error{% endblock %}

</body>
</html>

