---
layout: default
---

<div class="container">
{% include 'resume_title.twig' %}
{% include 'contact.twig' %}

{% include 'education.twig' %}
{% include 'experiences.twig' %}

{% include 'links.twig' %}
{% include 'hobbies.twig' %}
</div>
