---
layout: default
use: [jobs]

---

<div class="container">

{% include 'resume_title.twig' %}

{% include 'contact.twig' %}

{% include 'education.twig' %}
{% include 'experiences.twig' %}

{% include 'hobbies.twig' %}
</div>
