---
layout: default
use: [jobs]

---

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            {% include 'contact.twig' %}
        </div>
        <div class="col-xs-8">
            {% include 'resume_title.twig' %}
        </div>
    </div>

{% include 'education.twig' %}
{% include 'experiences.twig' %}

{% include 'links.twig' %}
{% include 'hobbies.twig' %}
</div>
