---
layout: default
use: [jobs]

---

<div class="container">

    {% include 'resume_title.twig' %}

    {% include 'contact.twig' %}
    {% include 'skills.twig' %}

    {% include 'education.twig' %}
    <br/>
    {% include 'experiences.twig' %}
    <br/>

{% include 'links.twig' %}
{% include 'hobbies.twig' %}
</div>
